@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lobster&display=swap");
@import "tailwindcss";

@theme {
  --font-chango: "Chango", sans-serif;
  --font-lobster: "Lobster", sans-serif;
}

* {
  scroll-behavior: smooth;
}
